backend/node_modules/
backend/.env
backend/dist/
backend/.DS_Store

frontend/node_modules/
frontend/.DS_Store

client/node_modules/

vpn/.DS_Store
vpn/node_modules
vpn/temp
vpn/.tmp
vpn/dist
vpn/build
vpn/package
vpn/reports
vpn/internal
vpn/prod
vpn/VERSION
vpn/output/
vpn/tmp/
vpn/bin/
vpn/output/
vpn/report/*
vpn/.log
vpn/debug.log
vpn/tests/screenshots/extension/*
.DS_Store
